.header {
    background: linear-gradient(295.43deg, rgba(154, 204, 198, 0.17) 20.14%, rgba(97, 97, 97, 0) 103.96%);
    &__body {
        display: flex;
        justify-content: space-between;
        padding-top: 82px;
        padding-bottom: 20px;
    }
    &__block {
        display: flex;
        flex-direction: column;
    }
    &__title {
        max-width: 555px;
        width: 100%;
        font-family: Gilroy-ExtraBold;
        font-size: 48px;
        line-height: 64px;
        color: var(--dark);
    }
    &__text {
        max-width: 570px;
        width: 100%;
        font-family: Gilroy-Medium;;
        font-size: 24px;
        line-height: 36px;
        color: var(--dark);
    }
    &__icons {
        display: flex;
        margin-top: 63px;
    }
    &__icon {
        margin-right: 21px;
    }
    &__icon img{
        max-width: 166px;
        width: 100%;
        height: 46px;
    }
    &__images {
        max-width: 524px;
        width: 100%;
    }
}
@media (max-width:1200px) {
    .header {
        &__title{
            font-size: 44px;
        }
        &__text {
            font-size: 20px;
        }
        &__images {
            max-width: 400px;
            width: 100%;
        }
    }
}
@media (max-width:992px) {
    .header {
        &__body {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        &__images {
            margin-top: 30px;
            margin-bottom: 30px;
        }
        &__text {
            margin-bottom: 20px !important;
        }
        &__icons {
            margin: 0 auto;
        }
    }
}
@media (max-width:768px) {
    .header {
        &__title {
            font-size: 40px;
        }
        &__text  {
            font-size: 18px;
        }
        &__icon img {
            max-width: 128px;
            width: 100%;
            height: 40px;
        }
    }
}
@media (max-width:500px) {
    .header {
        &__body {
            padding-top: 40px;
        }
        &__title {
            font-size: 32px;
            text-align: center;
        }
        &__text  {
            font-size: 16px;
            text-align: center;
        }
    }
}