.works {
    background: #273043;
    padding-bottom: 128px;
    position: relative;
    &__title {
        position: relative;
        font-family: Gilroy-SemiBold;
        font-size: 36px;
        line-height: 42px;
        color: #ffffff;
        text-align: center;
        padding-top: 62px;
        padding-bottom: 96px;
        margin-bottom: 0;
    }
    &__block {
        position: relative;
        // height: 100vh;
        padding-top: 120px;
        padding-bottom: 120px;
        margin-bottom: 40px;
        padding-left: 20px;
        &_step {
            font-family: Gilroy-SemiBold;
            font-size: 16px;
            line-height: 19px;
            color: var(--secondary);
        }   
        &_subtitle {
            font-family: Gilroy-SemiBold;
            font-size: 28px;
            line-height: 36px;
            color: var(--white);
        } 
        &_text {
            max-width: 440px;
            width: 100%;
            font-family: Gilroy-Medium;
            font-size: 20px;
            line-height: 28px;
            color: var(--grey);
        }
    }
    &__steps {
        display: flex;
        position: relative;
        &_text {
            margin-left: 150px;
        }
    }
    &__body {
        display: flex;
        justify-content: space-between;
        height: 2144px;
    }
}
.works__steps_img {
    position: sticky;
	top: 120px;
    max-width: 300px;
    margin-right: 100px;
    width: 100%;
    height: fit-content;
}
.works__images {
    max-width: 200px;
    width: 100%;
    display: none;
}
.step_img1 {
}
.step_img2 {
    display: none;
}
.step_img3 {
    display: none;
}
.step_img4 {
    display: none;
}
.step_img5 {
    display: none;
}
@media (max-width: 1200px)  {
    .works__steps_img  {
        margin-right: 0;
    }
    .works__steps_text {
        margin-left: 0;
    }
}
@media (max-width: 992px)  {
   .works__body {
       flex-direction: column;
   }
   .step_img1 {
       display: none;
    }
    .step_img2 {
        display: none;
    }
    .step_img3 {
        display: none;
    }
    .step_img4 {
        display: none;
    }
    .step_img5 {
        display: none;
    }
    .works__steps_img  {
        display: none;
    }
   
    .works__steps {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    
    .works__block {
        padding-bottom: 0;
        padding-left: 0;
        margin-bottom: -96px;
    }
    .works__title {
        font-size: 30px;
        padding-bottom: 0;
    }
    .works__steps_text {
        text-align: center;
        margin-bottom: 15px;
    }
    .works__block_text {
        margin-top: 8px;
    }
    .works__images {
        display: block;
    }
    .works__block_subtitle {
        margin-top: 8px;
    }
    .works__body {
        height: 3079px;
    }
}
@media (max-width: 768px)  {
   
}
@media (max-width: 600px)  {
   .works {
       &__body {
           height: 2930px;
        }
        &__block {
            &_subtitle {
                font-size: 24px;
            }
            &_text {
                font-size: 16px;
            }
        }
   }
}
@media (max-width: 472px) {
    .works {
        &__block {
            padding-top: 80px; 
            
        }
        &__body {
            height: 2712px;
        }
    }
    
}
@media (max-width: 375px) {
    
}