.works {
    background: #273043;
    padding-bottom: 128px;
    &__title {
        position: relative;
        font-family: Gilroy-SemiBold;
        font-size: 36px;
        line-height: 42px;
        color: #ffffff;
        text-align: center;
        padding-top: 62px;
        padding-bottom: 96px;
        margin-bottom: 0;
    }
    &__block {
        position: relative;
        padding-top: 120px;
        padding-bottom: 120px;
        margin-bottom: 40px;
        padding-left: 20px;
        &_step {
            font-family: Gilroy-SemiBold;
            font-size: 16px;
            line-height: 19px;
            color: var(--secondary);
        }   
        &_subtitle {
            font-family: Gilroy-SemiBold;
            font-size: 28px;
            line-height: 36px;
            color: var(--white);
        } 
        &_text {
            max-width: 440px;
            width: 100%;
            font-family: Gilroy-Medium;
            font-size: 20px;
            line-height: 28px;
            color: var(--grey);
        }
    }
    &__steps {
        display: flex;
        position: relative;
        &_text {
            margin-left: 150px;
        }
    }
    &__body {
        position: relative;
        
    }
}
.works__steps_img {
    position: fixed;
    top: 270px;
    right: 320px;
    max-width: 300px;
    width: 100%;
    z-index: 9;
    // display: none;
}
.img__step1 {
    display: none;
    // position: absolute;
    // top: -223px;
    // right: 162px;
    // max-width: 300px;
    // width: 100%;
    
}
.img__step2 {
    display: none;
}
.img__step3 {
    display: none;
}
.img__step4 {
    display: none;
}
.img__step5 {
    display: none;
}
@media (max-width: 992px)  {
   
}
@media (max-width: 768px)  {
   
}
@media (max-width: 472px) {
    .works {
        &__block {
            padding-top: 30px;
        }
        &__steps {
            &_text {
                text-align: center;
            }
        }
    }
    
}
@media (max-width: 375px) {
    
}