@font-face {
  font-family: Gilroy-ExtraBold;
  src: url(../../../fonts/Gilroy-ExtraBold.ttf);
  font-size: 24px;
  line-height: 36px;
}

@font-face {
  font-family: Gilroy-Medium;
  src: url(../../../fonts/Gilroy-Medium.ttf);
  font-size: 24px;
  line-height: 36px;
}
@font-face {
  font-family: Gilroy-SemiBold;
  src: url(../../../fonts/Gilroy-SemiBold.ttf);
  font-size: 24px;
  line-height: 36px;
}
@font-face {
  font-family: Gilroy-Regular;
  src: url(../../../fonts/Gilroy-Regular.ttf);
  font-size: 18px;
line-height: 22px;
}